.page-container {
  .slick-dots-bottom {
    li {
      background-color: black;
    }
  }
  .btn {
    color: rgb(157, 150, 150);
  }
  .btn:hover {
    color: white !important;
  }
}
.ant-input {
  width: 300px !important;
  margin-left: 15px !important;
}

.ant-modal-content {
  width: 400px !important;
}
